body{
    font: 1em sans-serif;
    background-color: aliceblue;
}
#root{
    display: flex;
}
.maindiv{
    background-color: rgb(223, 113, 113);
    display: block;


}
.sidenav{
    background-color: bisque;
    padding: 1em;
    
  
    display: inline-block;
}