body{
    font: 1em sans-serif;
    background-color: aliceblue;
}
#root{
    display: flex;
}
.maindiv{
    background-color: rgb(223, 113, 113);
    padding: 1em;
   
}
#sidenav{
    background-color: bisque;
    padding: 1em; 
}
#character-cards{
    margin: 0.5em;
    width: 184px;
}
#character-cards img{
    width: 50%;
}
#character-cards div{
    margin: 0.5em;
}